.moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    margin-bottom: 75px;
    list-style: none;
}

h1 {
    text-align: center;
    margin-top: 75px;
}