.cardMovie {
    border-radius: 4.7px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    width: 520px;

    padding: 20px;
    gap: 20px;

    display: flex;

    .cardImage {
        width: 150px;
        height: 230px;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .cardRating {
                border: 1px black solid;
                padding: 1px 5px 1px 5px;

                border-radius: 5px;
            }
        }

        .cardInfo {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .cardActors, .cardCategory, .cardType {
            display: flex;
           
            h4 {
                display: flex;
                font-size: 12px;
        
                gap: 5px;
            }
            p {
                font-size: 12px;
                font-weight: normal;
            }
          }

          .cardActions {
            justify-content: start;
            gap: 5px;

            margin-top: 35px;
          }
    }

    img {
        width: 150px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}